body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.navbar-container {
    background-color:rgb(135, 4, 4);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-size: 1.0625rem;
    font-weight: bold;
}

.nav-logo img {
    width: 50px;
    margin-right: 10px;
}

header .navbar a{
    font-weight: bold;
    font-size: 1.0625rem;
    border-radius: .5rem;
    padding: .3125rem .9375rem;
    color:var(--black);
    margin: 0;
}
header .navbar a:hover {
    color: #b83b3b;
    background: var(--white);
}

/* .navbar-container ul li {
    display: inline;
}

.navbar-container ul li a {
    color: white;
    text-decoration: none;
}

.navbar-container ul li a:hover {
    text-decoration: underline;
    color: white;
    background: var(--red);
} */

.cart-container {
    max-width: 1000px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cart-content h1 {
    font-size: 18px;
    margin: 20px;
    text-align: center;
    color: rgb(135, 4, 4);
    font-weight: bold;
}

#cart-items {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

#cart-items li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#total-price {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
    color: #333;
}

button {
    background-color: rgb(135, 4, 4);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 20px;
}

.order-button {
    margin: 0px;
}

button:hover {
    background-color: #b83b3b;
}

.order-button {
    background-color: rgb(135, 4, 4);
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.order-button:hover {
    background-color: #b83b3b;
}
