@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --red:rgb(135, 4, 4);
    --white: #f9f9f9;
    --black:rgb(57, 47, 47);
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    overflow-x: hidden; /* Avoid horizontal scroll */
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

/* Navigation Bar */

header {
    top: 0; left: 0; right: 0;
    background-color: #f9f9f9;
    padding: .8rem 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    font-weight: bold;
}

header .nav-logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-size: 1.0625rem;
}

header .nav-logo img {
    width: 50px;
    margin-right: 10px;
}

header .navbar a{
    font-size: 1.0625rem;
    border-radius: .5rem;
    padding: .3125rem .9375rem;
    color:var(--black);
    margin: 0;
}

header .navbar a.active, 
header .navbar a:hover{
    color: white;
    background: var(--red);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 2.8125rem;
    line-height: 2.8125rem;
    width: 2.8125rem;
    text-align: center;
    font-size: 1.0625rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color: #ffffff;
    background: var(--red);
    transform: rotate(360deg);
}

header .icons #bars{
    display: none;
}

/* Main Content */

.menucat{
    position: sticky;
    top: 0; left: 0; right: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 500;
    font-weight: bold;
}

.filter-buttons button {
    font-size: 1rem;
    border-radius: .5rem;
    padding: .3125rem .9375rem;
    color:var(--black);
    margin: 0;
    
}

.filter-buttons button.active, 
.filter-buttons button:hover{
    color: white;
    background: var(--red);
}

.menu-content {
    margin-top: 0rem;
    flex: 1;
    padding: 20px;
    justify-content: space-between;
    font-weight: bold;
}



/* Pizza Menu */
.pizza-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 80px;
}

.pizza-item {
    background-color: #fff;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.pizza-item:hover {
    transform: scale(1.05);
}

.pizza-item img {
    max-width: 100%;
    max-height: 50%;
    border-radius: 10px;
}

.pizza-item h3 {
    margin: 10px 0;
    font-size: 18px;
}

.pizza-item a{
    font-weight: lighter;
    font-size: 14px;
}

.pizza-item p {
    color: rgb(135, 4, 4);
    font-size: 18px;
    margin: 10px;
}

.quantity-controls{
    margin: 5px;
}

.quantity-controls button{
    margin: 10px;
    background-color: rgb(135, 4, 4);
    color: #fff;
    border: none;
    padding: 1px 8px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.quantity-controls button:hover {
    background-color: #b83b3b;
}

.cart-button {
    background-color: rgb(135, 4, 4);
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-button:hover {
    background-color: #b83b3b;
}

/* .hidden {
    display: none;
}

#cart-modal {
    display: none;
}

#cart-modal.active {
    display: flex;
} */